.col-md-6.col-md-offset-3
  %h2 Login
  %form{:name => "form", "ng-submit" => "signIn()", :role => "form"}
    %input#email.form-control{:name => "email", "ng-model" => "signin.email", :type => "text"}
    %input#password.form-control{:name => "password", "ng-model" => "signin.password", :type => "password"}
    %button.btn.btn-primary{:type => "submit"} Login
  %a.btn.btn-primary{href: "/signup"} Sign up
  %button{"ng-click" => "authenticate('facebook')"} Sign in with Facebook
  %button{"ng-click" => "authenticate('google')"} Sign in with Google
