.col-md-6.col-md-offset-3
  %h2 Sign up
  %form{:name => "form", "ng-submit" => "register()", :role => "form"}
    %input#email.form-control{:name => "email", "ng-model" => "signup.email", :type => "text"}
    %input#password.form-control{:name => "password", "ng-model" => "signup.password", :type => "password"}
    %input#password.form-control{:name => "password_confirmation", "ng-model" => "signup.password_confirmation", :type => "password"}
    %button.btn.btn-primary{:type => "submit"} sign up
